TCQ_GH_SECRET:
TCQ_LOCAL_GH_SECRET:
TCQ_GH_ID:
TCQ_LOCAL_GH_ID:
TCQ_SESSION_SECRET:
TCQ_GH_CALLBACK_URL:
# for using docker-compose supplied mongodb as database and session store
#TCQ_DB_ADAPTER: mongodb
#TCQ_DB_MONGODB_URI: mongodb://db:27017/
#TCQ_DB_MONGODB_DB: tcq-reloaded-dev
#TCQ_SESSION_STORE_ADAPTER: mongodb
#TCQ_SESSION_STORE_MONGODB_URI: mongodb://db:27017/
#TCQ_SESSION_STORE_MONGODB_DATABASE: tcq-reloaded-dev

